# Temporary files
*~
# Auto-save files
.saves-*
# Emacs server information
server
# comphist file
ac-comphist.dat
# . files
.*
# Emacs history
.emacs.d/history
.emacs.d/places
.emacs.d/recentf
# Powershell send mail utility (attendance book)
powershell/scripts/.attendance_book_email_info
# Background color file
.bgnd