#temporary files
*~
#auto-save files
.saves-*
#git ignore file
log
#Emacs server information
server
#comphist file
ac-comphist.dat
#. files in script folder
scripts/[.]*
#emacs history
.emacs.d/history
report.txt
#powershell send mail utility (attendance book)
powershell/scripts/.attendance_book_email_info
